@import "mixins";
#header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 5vh;
  position: absolute;
  padding: 1rem;
  z-index: 100;

  img {
    height: 4vh;
  }
}

#menu-btn {
  position: relative;
  background: transparent;
  border: none;
  min-width: 50px;
  height: 100%;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    background: url(../../images/icon-hamburger.svg) no-repeat center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#menu-items {
  position: absolute;
  left: 5%;
  top: 0vh;
  width: 90%;
  border-radius: 0.5rem;
  padding: 1rem;

  @keyframes hideMenu {
    from {
      top: -50vh;
    }

    to {
      top: -200vh;
    }
  }

  @keyframes showMenu {
    from {
      top: -100vh;
    }

    to {
      top: 10vh;
    }
  }
}

.dropdown {
  display: grid;
  place-items: center;

  &.active {
    span::after {
      transform: translate(150%, -50%) rotate(180deg);
    }
  }

  span {
    color: $main-blue;
    font-weight: 600;
    font-size: calc(1.2rem + 1vw);
    position: relative;
    padding: 1rem;
    cursor: pointer;

    &::after {
      content: "";
      background: url(../../images/icon-arrow-dark.svg) no-repeat center;
      background-size: cover;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(150%, -50%);
      transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  } /* span */

  ul {
    list-style: none;
    background-color: rgba($color: $main-blue-gray, $alpha: 0.3);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 0.5rem;
    height: 0px;
    overflow: hidden;
    transition: height 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: contractDropdown 0.5s ease both;
  }

  li {
    padding: 0.5rem 1rem;
    margin: 0.25rem 1rem;
    color: $main-blue;
    border-radius: 0.5rem;
    font-size: calc(1rem + 0.5vw);

    &:hover {
      background-color: $main-white;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;

  button {
    @include button;

    &:first-child:hover {
      border: thin solid $main-red;
      color: $main-red;
    }

    &:last-child {
      background: linear-gradient(90deg, $gradiant1-from, $gradiant1-to);
      color: white;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

@media (max-width: 800px) {
  #menu-items {
    animation: hideMenu 0.5s ease-out both;
    background-color: $main-white;

    &.active {
      animation: showMenu 0.3s ease forwards;
    }
  }
}

@media (min-width: 800px) {
  #header {
    justify-content: flex-start;
  }

  #menu {
    width: 100%;
  }

  #menu-btn {
    display: none;
  }

  #menu-items {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    top: 1vh;
    left: 0;
    position: relative;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }

  .dropdown {
    display: block;
    position: relative;
    margin: 0 1rem;

    span {
      font-size: calc(1rem + 0.1vw);
      color: white;

      &::after {
        background-image: url(../../images/icon-arrow-light.svg);
        right: 10%;
      }
    }

    ul {
      width: min-content;
      position: absolute;
      top: 3vh;
      background: white;
      box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.2);
    }

    li {
      text-align: left;
      font-size: calc(1rem + 0.1vw);
      padding: 0 1rem;
      margin: 0.5rem 0;

      &:hover {
        color: $main-blue-dark;
        font-weight: bold;
      }
    }
  }

  .actions {
    position: absolute;
    flex-direction: row;
    right: 0;

    button {
      font-size: calc(1rem + 0.1vw);
      width: auto;
      height: auto;
      padding: 0.75rem 2rem;
      transform: translateY(-30%);
      color: $main-white;
      margin: 0 0.25rem;

      &:first-child {
        &:hover {
          border: thin solid $main-white;
          color: white;
        }
      }

      &:last-child {
        background: $main-white;
        color: $main-red;

        &:hover {
          background: rgba($color: $main-white, $alpha: 0.33);
          color: $main-white;
        }
      }
    }
  }
}
