#header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 5vh;
  position: absolute;
  padding: 1rem;
  z-index: 100;

  img {
    height: 4vh;
  }
}

#menu {
  #menu-btn {
    position: relative;
    background: transparent;
    border: none;
    min-width: 50px;
    height: 100%;
    outline: none;
    cursor: pointer;

    &::before {
      content: "";
      background: url(../../images/icon-hamburger.svg) no-repeat center;
      background-size: contain;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #menu-items {
    position: absolute;
    left: 5%;
    top: -200vh;
    width: 90%;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: $main-white;
    animation: hideMenu 0.5s ease-out both;
    /* AGREGAR ANIMACIÓN PARA DESAPARECER MENU BIEN BONITO */
    @keyframes hideMenu {
      from {
        top: -50vh;
      }

      to {
        top: -200vh;
      }
    }

    &.active {
      animation: showMenu 0.3s ease forwards;
    }

    @keyframes showMenu {
      from {
        top: -100vh;
      }

      to {
        top: 10vh;
      }
    }
  }

  .dropdown {
    display: grid;
    place-items: center;

    &.active {
      span::after {
        transform: translate(150%, -50%) rotate(180deg);
      }
    }

    span {
      color: $main-blue;
      font-weight: 600;
      font-size: calc(1.2rem + 1vw);
      position: relative;
      padding: 1rem;
      cursor: pointer;

      &::after {
        content: "";
        background: url(../../images/icon-arrow-dark.svg) no-repeat center;
        background-size: contain;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(150%, -50%);
      }
    } /* span */

    ul {
      list-style: none;
      background-color: rgba($color: $main-blue-gray, $alpha: 0.3);
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      border-radius: 0.5rem;
      height: 0px;
      overflow: hidden;
      transition: height 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
      animation: contractDropdown 0.5s ease both;

      li {
        padding: 1rem;
        color: $main-blue;
        font-size: calc(1rem + 0.5vw);
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;

    button {
      width: 60%;
      height: 60px;
      border-radius: 2rem;
      font-size: calc(1rem + 1vw);
      font-weight: bold;
      border: none;
      outline: none;
      margin: 0.5rem auto;
      background-color: transparent;

      &:first-child:hover {
        border: thin solid $main-red;
      }

      &:last-child {
        background: linear-gradient(90deg, $gradiant1-from, $gradiant1-to);
        color: white;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
