@charset "UTF-8";
/* === FONTS === */
/* font size */
/* --- overpass --- */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
/* --- ubuntu --- */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* === COLORS === */
/* --- primary --- */
/* CTA text */
/* CTA hover, background */
/* headings */
/* --- neutral --- */
/* text */
/* footer text */
/* body copy */
/* footer background */
/* --- gradients --- */
/* Intro/CTA mobile nav */
/* body */
/* === RESET === */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

#header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 5vh;
  position: absolute;
  padding: 1rem;
  z-index: 100;
}
#header img {
  height: 4vh;
}

#menu #menu-btn {
  position: relative;
  background: transparent;
  border: none;
  min-width: 50px;
  height: 100%;
  outline: none;
  cursor: pointer;
}
#menu #menu-btn::before {
  content: "";
  background: url(../../images/icon-hamburger.svg) no-repeat center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu #menu-items {
  position: absolute;
  left: 5%;
  top: -200vh;
  width: 90%;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: white;
  animation: hideMenu 0.5s ease-out both;
  /* AGREGAR ANIMACIÓN PARA DESAPARECER MENU BIEN BONITO */
}
@keyframes hideMenu {
  from {
    top: -50vh;
  }
  to {
    top: -200vh;
  }
}
#menu #menu-items.active {
  animation: showMenu 0.3s ease forwards;
}
@keyframes showMenu {
  from {
    top: -100vh;
  }
  to {
    top: 10vh;
  }
}
#menu .dropdown {
  display: grid;
  place-items: center;
  /* span */
}
#menu .dropdown.active span::after {
  transform: translate(150%, -50%) rotate(180deg);
}
#menu .dropdown span {
  color: #1f3f5b;
  font-weight: 600;
  font-size: calc(1.2rem + 1vw);
  position: relative;
  padding: 1rem;
  cursor: pointer;
}
#menu .dropdown span::after {
  content: "";
  background: url(../../images/icon-arrow-dark.svg) no-repeat center;
  background-size: contain;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(150%, -50%);
}
#menu .dropdown ul {
  list-style: none;
  background-color: rgba(200, 200, 203, 0.3);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 0.5rem;
  height: 0px;
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: contractDropdown 0.5s ease both;
}
#menu .dropdown ul li {
  padding: 1rem;
  color: #1f3f5b;
  font-size: calc(1rem + 0.5vw);
}
#menu .actions {
  display: flex;
  flex-direction: column;
}
#menu .actions button {
  width: 60%;
  height: 60px;
  border-radius: 2rem;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  border: none;
  outline: none;
  margin: 0.5rem auto;
  background-color: transparent;
}
#menu .actions button:first-child:hover {
  border: thin solid #ff525d;
}
#menu .actions button:last-child {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  color: white;
}
#menu .actions button:last-child:hover {
  opacity: 0.75;
}

#design .central-img::before, #design .central-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

#state .card-design .bg-section h2, #state h2, #design h2,
#state .card-design .bg-section h3,
#state h3,
#design h3 {
  color: #1f3f5b;
  font-size: calc(2rem - 1vw);
}
#state .card-design .bg-section h3, #state h3, #design h3,
#state .card-design .bg-section p,
#state p,
#design p {
  width: 80%;
  margin: 2rem auto;
}
#state .card-design .bg-section p, #state p, #design p {
  font-size: calc(1rem - 0.2vw);
}

#footer, #state .card-design, #design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  line-height: 1.8rem;
  padding: 1rem;
}

#main {
  background: linear-gradient(155deg, #ff8f70, #ff3d54);
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 5rem;
  margin-bottom: 2rem;
}
#main .bg-section {
  background: url(../../images/bg-pattern-intro.svg) no-repeat;
  background-position: 35% 33%;
  background-size: 310%;
  height: 80vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .text h1 {
  font-size: calc(1.5rem + 3vw);
  margin-bottom: 2rem;
}
#main .text h1 span {
  display: block;
}
#main .text p {
  font-size: calc(1rem + 1vw);
  width: 90%;
  margin: 0 auto 2rem;
}
#main .actions button {
  font-family: "Overpass", sans-serif;
  height: 50px;
  width: 40%;
  vertical-align: middle;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  border: none;
  margin: 0 0.5rem;
  font-weight: bold;
  color: #ff525d;
}

/* main */
#design {
  color: #4b5862;
}
#design .central-img {
  background: url(../../images/illustration-editor-mobile.svg) no-repeat center;
  background-size: 125%;
  border-radius: 0.5rem;
  box-shadow: 0 20px 80px rgba(31, 63, 91, 0.26);
  width: 90%;
  height: 30vh;
  position: relative;
  margin: 5rem auto;
}
#design .central-img::after {
  content: "";
  width: 45vh;
  height: 45vh;
  border: solid thin #c8c8cb;
}
#design .central-img::before {
  content: "";
  width: 35vh;
  height: 35vh;
  border: solid thin #4b5862;
}

/* design */
#state {
  position: relative;
  margin-top: 30vh;
}
#state .central-img {
  background: url("../../images/illustration-phones.svg") no-repeat center;
  background-size: contain;
  height: 90vh;
  width: 100%;
  position: absolute;
  background-size: 105% auto;
  transform: translate(-2.5%, -50%);
}
#state .card-design {
  background: linear-gradient(135deg, #2c2d3f, #3f4164);
  color: white;
  padding: 0;
  border-radius: 0 5rem 0;
  overflow: hidden;
}
#state .card-design .bg-section {
  background: url(../../images/bg-pattern-circles.svg) no-repeat;
  background-position: 50% -230px;
  background-size: 160%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
#state .card-design .bg-section h2 {
  color: white;
  font-size: calc(2rem + 1vw);
  line-height: 3rem;
}
#state .card-design .bg-section p {
  color: white;
}
#state .middle-img {
  background: url("../../images/illustration-laptop-mobile.svg") no-repeat center;
  background-size: contain;
  height: 60vh;
  width: 100%;
  background-size: 130% auto;
  transform: translate(1%);
}
#state .text {
  color: #4b5862;
  text-align: center;
  line-height: 1.8rem;
}
#state .text p {
  font-size: calc(1rem + 0.3vw);
}

/* state */
#footer {
  background-color: #25252d;
  color: white;
  font-size: calc(1rem + 0.2vw);
  border-top-right-radius: 5rem;
  padding: 3rem 0;
}
#footer h2 {
  font-size: calc(1rem + 0.2vw);
  padding: 2rem 0;
}
#footer ul {
  list-style: none;
}

/* footer */
.attribution {
  background-color: #25252d;
  color: white;
  text-align: center;
}
.attribution a {
  color: #ff525d;
}
.attribution a:hover {
  color: #ff7a85;
}

/*# sourceMappingURL=styles.css.map */
