/* === FONTS === */
/* font size */
/* --- overpass --- */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
/* --- ubuntu --- */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* === COLORS === */
/* --- primary --- */
/* CTA text */
/* CTA hover, background */
/* headings */
/* --- neutral --- */
/* text */
/* footer text */
/* body copy */
/* footer background */
/* --- gradients --- */
/* Intro/CTA mobile nav */
/* body */
/* === RESET === */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

/* Regular buttons */
/* big images */
#header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 5vh;
  position: absolute;
  padding: 1rem;
  z-index: 100;
}
#header img {
  height: 4vh;
}

#menu-btn {
  position: relative;
  background: transparent;
  border: none;
  min-width: 50px;
  height: 100%;
  outline: none;
  cursor: pointer;
}
#menu-btn::before {
  content: "";
  background: url(../../images/icon-hamburger.svg) no-repeat center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-btn.active::before {
  background-image: url(../../images/icon-close.svg);
}

#menu-items {
  position: absolute;
  left: 5%;
  top: 0vh;
  width: 90%;
  border-radius: 0.5rem;
  padding: 1rem;
}
@keyframes hideMenu {
  from {
    top: -50vh;
  }
  to {
    top: -200vh;
  }
}
@keyframes showMenu {
  from {
    top: -100vh;
  }
  to {
    top: 10vh;
  }
}

.dropdown {
  display: grid;
  place-items: center;
  /* span */
}
.dropdown.active span::after {
  transform: translate(150%, -50%) rotate(180deg);
}
.dropdown span {
  color: #1f3f5b;
  font-weight: 600;
  font-size: calc(1.2rem + 1vw);
  position: relative;
  padding: 1rem;
  cursor: pointer;
}
.dropdown span::after {
  content: "";
  background: url(../../images/icon-arrow-dark.svg) no-repeat center;
  background-size: cover;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(150%, -50%);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.dropdown ul {
  list-style: none;
  background-color: rgba(200, 200, 203, 0.3);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 0.5rem;
  height: 0px;
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: contractDropdown 0.5s ease both;
}
.dropdown li {
  padding: 0.5rem 1rem;
  margin: 0.25rem 1rem;
  color: #1f3f5b;
  border-radius: 0.5rem;
  font-size: calc(1rem + 0.5vw);
}
.dropdown li:hover {
  background-color: white;
}

.actions {
  display: flex;
  flex-direction: column;
}
.actions button {
  width: 50%;
  height: 60px;
  border-radius: 2rem;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  border: thin solid transparent;
  outline: none;
  margin: 0.5rem auto;
  background-color: transparent;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}
.actions button:first-child:hover {
  border: thin solid #ff525d;
  color: #ff525d;
}
.actions button:last-child {
  background: linear-gradient(90deg, #ff8f70, #ff3d54);
  color: white;
}
.actions button:last-child:hover {
  opacity: 0.75;
}

@media (max-width: 800px) {
  #menu-items {
    animation: hideMenu 0.5s ease-out both;
    background-color: white;
  }
  #menu-items.active {
    animation: showMenu 0.3s ease forwards;
  }
}
@media (min-width: 800px) {
  #header {
    justify-content: space-evenly;
  }
  #header .logo {
    padding-left: calc(2rem + 1vw);
  }

  #menu {
    width: 100%;
  }

  #menu-btn {
    display: none;
  }

  #menu-items {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    top: 1vh;
    left: 0;
    position: relative;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }
  #menu-items .dropdown {
    display: block;
    position: relative;
    margin: 0 1rem;
  }
  #menu-items .dropdown span {
    font-size: calc(1rem + 0.1vw);
    color: white;
  }
  #menu-items .dropdown span::after {
    background-image: url(../../images/icon-arrow-light.svg);
    right: 10%;
  }
  #menu-items .dropdown ul {
    width: min-content;
    position: absolute;
    top: 3vh;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  #menu-items .dropdown li {
    text-align: left;
    font-size: calc(1rem + 0.1vw);
    padding: 0 1rem;
    margin: 0.5rem 0;
  }
  #menu-items .dropdown li:hover {
    color: #25252d;
    font-weight: bold;
  }
  #menu-items .actions {
    position: absolute;
    flex-direction: row;
    right: 0;
  }
  #menu-items .actions button {
    font-size: calc(1rem + 0.1vw);
    width: auto;
    height: auto;
    padding: 0.75rem 2rem;
    transform: translateY(-30%);
    color: white;
    margin: 0 0.25rem;
  }
  #menu-items .actions button:first-child:hover {
    border: thin solid white;
    color: white;
  }
  #menu-items .actions button:last-child {
    background: white;
    color: #ff525d;
  }
  #menu-items .actions button:last-child:hover {
    background: rgba(255, 255, 255, 0.33);
    color: white;
  }
}
/* Local variables */
/* circle styles */
#state .card-design .bg-section h2, #state h2, #design h2,
#state .card-design .bg-section h3,
#state h3,
#design h3 {
  color: #1f3f5b;
  font-size: calc(2rem - 1vw);
}
#state .card-design .bg-section h3, #state h3, #design h3,
#state .card-design .bg-section p,
#state p,
#design p {
  width: 80%;
  margin: 2rem auto;
}
#state .card-design .bg-section p, #state p, #design p {
  font-size: calc(1rem - 0.2vw);
}

#footer, #state .card-design, #design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  line-height: 1.8rem;
  padding: 1rem;
}

#main {
  background: linear-gradient(155deg, #ff8f70, #ff3d54);
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 5rem;
  margin-bottom: 2rem;
}
#main .bg-section {
  background: url(../images/bg-pattern-intro.svg) no-repeat;
  background-position: 35% 33%;
  background-size: 310%;
  height: 80vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .text h1 {
  font-size: calc(1.5rem + 3vw);
  margin-bottom: 2rem;
}
#main .text h1 span {
  display: block;
}
#main .text p {
  font-size: calc(1rem + 1vw);
  width: 90%;
  margin: 0 auto 2rem;
}
#main .actions {
  display: flex;
}
#main .actions button {
  font-family: "Overpass", sans-serif;
  width: 40%;
  height: 8vh;
  border-radius: 2rem;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  border: thin solid transparent;
  outline: none;
  margin: 0.5rem auto;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
  color: #ff525d;
}
#main .actions button:last-child {
  background-color: transparent;
  color: white;
  border: thin solid white;
}

/* main */
#design {
  color: #4b5862;
}
#design .central-img {
  background: url(../images/illustration-editor-mobile.svg) no-repeat center;
  background-size: contain;
  border-radius: 0.5rem;
  width: 90%;
  height: 30vh;
  position: relative;
  margin: 5rem auto;
}

/* design */
#state {
  position: relative;
  margin-top: 30vh;
}
#state .central-img {
  background: url("../../images/illustration-phones.svg") no-repeat center;
  background-size: contain;
  height: 90vh;
  width: 100%;
  position: absolute;
  background-size: 105% auto;
  transform: translate(-2.5%, -50%);
}
#state .card-design {
  background: linear-gradient(135deg, #2c2d3f, #3f4164);
  color: white;
  padding: 0;
  border-radius: 0 5rem 0;
  overflow: hidden;
}
#state .card-design .bg-section {
  background: url(../images/bg-pattern-circles.svg) no-repeat;
  background-position: 50% -230px;
  background-size: 160%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
#state .card-design .bg-section h2 {
  color: white;
  font-size: calc(2rem + 1vw);
  line-height: 3rem;
}
#state .card-design .bg-section p {
  color: white;
}
#state .middle-img {
  background: url("../../images/illustration-laptop-mobile.svg") no-repeat center;
  background-size: contain;
  height: 60vh;
  width: 100%;
  background-size: 130% auto;
  transform: translate(1%);
}
#state .text {
  color: #4b5862;
  text-align: center;
  line-height: 1.8rem;
}
#state .text p {
  font-size: calc(1rem + 0.3vw);
}

/* state */
#footer {
  margin-top: 5rem;
  background-color: #25252d;
  color: white;
  font-size: calc(1rem + 0.2vw);
  border-top-right-radius: 5rem;
  padding: 3rem 0;
}
#footer h2 {
  font-size: calc(1rem + 0.2vw);
  padding: 2rem 0;
}
#footer ul {
  list-style: none;
}

/* footer */
.attribution {
  background-color: #25252d;
  color: white;
  text-align: center;
}
.attribution a {
  color: #ff525d;
}
.attribution a:hover {
  color: #ff7a85;
}

@media (min-width: 800px) {
  #main {
    background: linear-gradient(80deg, #ff8f70, #ff3d54);
    min-height: 60vh;
  }
  #main .bg-section {
    height: 60vh;
    background-size: 250%;
    background-position: 25% 55%;
  }
  #main .text h1 {
    font-size: calc(1.5rem + 2.5vw);
  }
  #main .text h1 span {
    display: inline;
  }
  #main .text p {
    font-size: calc(1rem + 0.5vw);
  }
  #main .actions {
    width: 50%;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  #main .actions button {
    height: 5vh;
    width: 30%;
    margin: 0 0.5rem;
    font-size: calc(0.5rem + 1vw);
  }
  #main .actions button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  #main .actions button:last-child {
    background: transparent;
  }
  #main .actions button:last-child:hover {
    background: white;
    opacity: 1;
    color: #ff525d;
  }

  #design {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh, repeat(2, minmax(autofit, 1fr));
    overflow-x: hidden;
  }
  #design h2 {
    grid-column: span 3;
    font-size: calc(2rem + 1vw);
  }
  #design .central-img {
    background-image: url(../images/illustration-editor-desktop.svg);
    height: 50vh;
    width: 200%;
    grid-column: 3;
    grid-row: span 2;
  }
  #design .text {
    text-align: left;
  }
  #design .text1 {
    grid-column: 1/3;
    grid-row: 2;
  }
  #design .text2 {
    grid-column: 1/3;
  }

  #state {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35vh 10vh repeat(2, 1fr);
    overflow-x: hidden;
  }
  #state .central-img {
    transform: translate(12.5%, 0%);
    width: 40%;
    height: 50vh;
    z-index: 10;
    grid-column: span 3;
  }
  #state .card-design {
    position: relative;
    grid-column: span 3;
    margin-top: 5vh;
  }
  #state .card-design::after {
    content: "";
    background: url(../images/bg-pattern-circles.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    height: 500px;
    width: 650px;
    top: -90%;
    left: -17%;
  }
  #state .card-design .bg-section {
    position: relative;
    top: 0;
    right: -20%;
    height: 30vh;
    text-align: left;
    width: 50%;
    background: transparent;
  }
  #state .card-design .bg-section h2 {
    font-size: calc(1rem + 1vw);
  }
  #state .card-design .bg-section p {
    width: 100%;
    font-size: calc(0.75rem + 0.1vw);
    margin: 1rem auto;
  }
  #state .middle-img {
    background-image: url(../images/illustration-laptop-desktop.svg);
    height: 60vh;
    width: 200%;
    transform: translate(-50%, 0%);
    grid-column: 1/2;
    grid-row: 3/5;
  }
  #state .text {
    text-align: left;
  }
  #state .text1 {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  #state .text2 {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  /* #state */
  #footer {
    flex-direction: row;
    align-items: flex-start;
  }
  #footer .text {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    width: 50%;
  }
  #footer .text .feet h2 {
    padding: 0 0 1rem;
  }
  #footer .text .feet li {
    padding: 0.5rem 0;
    cursor: pointer;
  }
  #footer .text .feet li:hover {
    text-decoration: underline;
  }
}
/* Regular buttons */
/* big images */

/*# sourceMappingURL=styles.css.map */
